.cards {
  max-width: 1280px;
  margin: 0 auto;
  padding: 20px 0 40px;
  border-bottom: 1px solid rgba(33, 33, 33, 0.4);
}

.cards__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, 413px);
  gap: 40px 20px;
  justify-content: center;
}

@media screen and (max-width: 1438px) {
  .cards {
    max-width: 875px;
  }

  .cards__list {
    gap: 20px;
  }
}
/* @media screen and (max-width: 1005px) {
  .cards {9005
} */
@media screen and (max-width: 774px) {
  .cards {
    max-width: 742px;
  }
  .cards__list {
    grid-template-columns: 288px 288px;
  }
}

@media screen and (max-width: 637px) {
  .cards {
    margin: 0 auto;
  }
  .cards__list {
    gap: 20px;
    grid-template-columns: 288px;
  }
}
