.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer__copyright {
  opacity: 70%;
  margin: 60px auto;
}

@media screen and (max-width: 774px) {
  .footer {
    margin: 20px 0;
    padding: 20px 16px;
    max-width: 288px;
  }
}
