.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 60px 0;
  margin: 0 80px;
}

.footer__copyright {
  opacity: 70%;
  margin: 0 auto;
}
