.modal {
  position: fixed;
  top: 205px;
  left: 398px;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  padding: 0 16px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  line-height: 1;
}

.modal_opened {
  visibility: visible;
}

.modal__container {
  background: rgba(255, 255, 255, 1);
  padding: 32px 50px;
  max-width: 730px;
  position: relative;
  box-sizing: border-box;
  width: 100%;
  border-radius: 8px;
  /* display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 32px; */
}

.modal__btn_close {
  position: absolute;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  border: none;
  background-color: rgba(255, 255, 255, 1);
}

.modal__title {
  margin: 0 0 32px;
  font-size: 32px;
}

.modal__label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 32px;
  color: rgba(0, 0, 0, 0.7);
  font-size: 16px;
  line-height: 17.6px;
}

.modal__input {
  padding: 16px 12px;
  height: 52px;
  font-size: 20px;
  line-height: 1;
}

.modal__btn_submit {
  width: 156px;
  padding: 18px 0;
  background-color: rgba(0, 0, 0);
  border-radius: 8px;
  color: rgba(255, 255, 255, 1);
  font-size: 16px;
}

.modal__btn_submit:hover {
  background-color: rgba(33, 33, 33, 0.8);
}
.modal__btn_close__icon {
  position: relative;
  top: -3px;
  left: -8.5px;
}

.modal__btn_close__icon:hover {
  background-image: url(../images/Property\ 1=Variant2.svg);
}

@media screen and (max-width: 774px) {
  .modal {
    padding: 0 20px;
  }

  .modal__container {
    max-width: 300px;
    padding: 22px 12px 12px;
  }
  .modal__title {
    font-size: 20px;
    margin: 12px 0 24px;
  }
  .modal__btn_submit {
    height: 52px;
    width: 100%;
  }
  .modal__label {
    margin-bottom: 0px;
    margin-top: 12px;
  }
  .modal__input {
    height: 48px;
    border-radius: 8px;
    font-size: 16px;
    margin-top: 8px;
    margin-bottom: 12px;
    padding: 0;
  }
  .modal__icon_btn_close {
    position: relative;
    right: 40px;
  }
}
