


.modal {
  position: fixed;
  top: 0px;
  left: 0px;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  line-height: 1;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s opacity 0.3s ease-in;
}

.modal_opened {
  visibility: visible;
  opacity: 1;
  transition: visibility 0.3s opacity 0.3s ease-in;


.modal__container {
  background: rgba(255, 255, 255, 1);
  padding: 32px 50px;
  height: 408px;
  max-width: 730px;
  box-sizing: border-box;
  width: 100%;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  position: relative;

}
.modal__container_preview{
  height: auto;
  padding: 0;
  background-color: transparent;
  gap: unset;
  display: inline-block;
  flex-direction: unset;
  width: 100%;
  margin: 0;
  box-sizing: content-box;

}
.modal__image{
  width: 100%;
  height: 100%;;
  /* object-fit: contain; */
  max-width: 80vw;
  max-height: 80vh;
  border-radius: 8px;
  position: relative;
}

.modal__close{
  position: absolute;
  top: 30px;
  right: 50px;
  width: 40px;
  height: 40px;
  border: none;
  background-image: url("../images/close-Icon.svg");
  background-color: transparent;
  cursor: pointer;

}

.modal__close_preview{
  background: url("../images/close-preview.svg");

  top: 0;
  right: -45px;



}
.modal__close:hover{
  background-image: url("../images/close-hover.svg");
}

.modal__title {
  margin: 0;
  font-size: 32px;
}

.modal__caption{
  background-color: rgba(33, 33, 33, 1);
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  border-radius: 8px;
  font-size: 20px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  line-height: 24px;
  color: rgba(255, 255, 255, 1);
  display: inline;
  padding: 4px 8px;
  bottom: -35px;
  left: 0px;
  position: absolute;
  margin: 0;
}
.modal__label {
  display: flex;
  flex-direction: column;
  color: rgba(0, 0, 0, 0.7);
  font-size: 16px;
  line-height: 17.6px;
  font-weight: 500;
}

.modal__input {
  padding-left: 12px;
  height: 52px;
  font-size: 20px;
  line-height: 1;
  margin-top: 8px;
  margin-bottom: 32px;
  border-radius: 8px;
  font-weight: 500;
}

.modal__submit {
  width: 156px;
  height: 52px;
  background-color: rgba(0, 0, 0);
  border-radius: 8px;
  color: rgba(255, 255, 255, 1);
  font-size: 16px;
  margin-bottom: 32px;
  cursor: pointer;
}




.modal__submit:hover {
  background-color: rgba(33, 33, 33, 0.8);
}

@media screen and (max-width: 774px) {
  .modal {
    padding: 0 20px;
    top: 0;
    left: 0;
  }

  .modal__container {
    height: 336px;
    width: 300px;
    padding: 22px 12px 12px;
    gap: 24px;

  }
  .modal__image{
    min-width: 80vw;
    width: 100%;
    height: auto;
    position: relative;
  }
  .modal__caption{
    bottom:-142px;
    left: 12px;
  }

  .modal__title {
    font-size: 20px;
    margin: 0;
  }
  .modal__submit {
    height: 52px;
    width: 100%;
    cursor: pointer;
  }
  .modal__label {
    margin-bottom: 0px;

  }
  .modal__input {
    height: 48px;
    border-radius: 8px;
    font-size: 16px;
    margin-top: 8px;
    margin-bottom: 24px;
    padding-left: 12px;
  }
  .modal__close{
    top: 12px;
    right: 12px;
    cursor: pointer;
  }

.modal__close_preview{
  top: 15px;
  right: -25px;
}

}
@media screen and (max-width: 320px) {
  .modal {
    padding: auto 16px;
  }
  /* .modal{
    padding: 0;
  } */
  .modal__container{
    width: 300px;
    height: fit-content;
    /* padding: 12px; */
    gap: 24px;
  }
  .modal__image{
    min-width: 288px;
    width: 288px;
    height: auto;
  }

  .modal__close{
    height: 32px;
    width: 32px;
  }
  .modal__close_preview{
    position: absolute;
    top:-21px;
    right: 16px;
  }

  .modal__title{
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .modal__input{
    height: 48px;
    margin-bottom: 24px;
    font-size: 16px;
  }
  .modal__submit{
    margin-bottom: 0px;
    width: 100%;
  }

}}