.page{
    /* max-width: 1440px;
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columnss: repeat (5, 1fr);
    grid-template-areas: "header header header header header header"; */
    background-color: #FCF5E5;
    min-height: 100vh;
    box-sizing: border-box;
    max-width: 1440px;
    margin: 0 auto;
}

.page_section{
    margin: 0 80px;


}