.profile {
  max-width: 1280px;
  display: flex;
  padding-bottom: 34px 0 20px;
  border-bottom: 1px solid rgba(33, 33, 33, 0.4);
}

.profile__image {
  height: 190px;
  width: 190px;
  margin: 0 20px 20px 0;
}

.profile__column {
  display: flex;
  flex-direction: column;
}
.profile__title {
  font-size: 32px;
  margin: 0 0 12px;
}

.profile__subtitle {
  font-style: italic;
  color: #212121;
  margin: 0;
  opacity: 70%;
}

.profile__edit-btn {
  width: 107.34px;
  height: 16px;
  margin-right: auto;
  margin-top: auto;
  /* margin-bottom: 20px; */
  background-image: url("../images/edit-State=default.svg");
  background-color: transparent;
  opacity: 1;
  border: none;
}

.profile__edit-btn:hover {
  background-image: url("../images/edit-State=Hover.svg");
}

.profile__add-btn {
  width: 157px;
  height: 52px;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: 20px;
  background-image: url("../images/newpost-State=Default.svg");
  background-color: transparent;
  opacity: 1;
  border: none;
}

.profile__add-btn:hover {
  background-image: url("../images/newpost-State=Hover.svg");
  background-color: black;
  opacity: 0.7;
  border-radius: 7px;
}

/* I
    @media screen and (max-width: ){
      .profile{
        flex-direction: column;
        padding-top: 20px;
      }

      .profile__image{
        height: 80x;
        width: 80px;
      }

      .profile__title{
        font-size: 20px;
      }
    } */
