.profile {
  max-width: 1280px;
  display: flex;
  padding: 34px 0 20px;
  border-bottom: 1px solid rgba(33, 33, 33, 0.4);
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
}

.profile__image {
  height: 190px;
  width: 190px;
  margin: 0 20px 0 0;
  border-radius: 8px;
  object-fit: cover;
}

.profile__column {
  display: flex;
  flex-direction: column;
}
.profile__title {
  font-size: 32px;
  margin: 0 0 12px;
  line-height: 1;
  font-weight: 500;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 420px;
}

.profile__subtitle {
  line-height: 1;
  color: #212121;
  margin: 0;
  opacity: 70%;
  text-overflow: ellipsis;
  overflow: hidden;


  max-width: 420px;
}

.profile__edit {
  width: 107.34px;
  height: 16px;
  margin-top: auto;
  background-image: url("../images/edit-profile.svg");
  background-color: transparent;
  opacity: 0.7;
  border: none;
  cursor: pointer;
}

.profile__edit:hover {
  opacity: 1;
}

.profile__add-new {
  width: 157px;
  height: 52px;
  border-radius: 8px;
  margin-left: auto;
  margin-top: auto;
  cursor: pointer;
  color: rgba(252, 245, 229, 1);
  background-color: rgba(33, 33, 33, 1);
  border: none;
}

.profile__add-new:hover {
  background-color: rgba(33, 33, 33, 0.8);
  cursor: pointer;
}

@media screen and (max-width: 1438px) {
  .profile {
    max-width: 875px;
  }
  /*
  single column 413px wide cards
   .profile__btn_edit {
    margin: auto 0 20px auto;
  }
  .profile__btn_add {
    width: 110px;
    height: 25px;
    position: relative;
    right: 668px;
    top: 5px;
  } */
}

@media screen and (max-width: 774px) {
  .profile {
    max-width: 288px;
    flex-direction: column;
    padding-top: 20px;
    align-items: center;
    text-align: center;
  }

  .profile__image {
    height: 80px;
    width: 80px;
    margin: 0 0 12px;
  }

  .profile__title {
    font-size: 20px;
    margin: 0;
  }
  .profile__subtitle {
    margin: 6px auto 0;
    text-align: center;
  }
  .profile__column {
    margin: 0 0 20px;
  }
  .profile__edit {
    margin: 32px auto 0;
  }
  .profile__add-new {
    margin: 0 auto;
    width: 100%;
  }
}
